/*----- Basic setup ------*/
html, body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 100%;
}
.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/bg_anime.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}
h1, h2, p, ul li, .fas {
  color: white;
}
h1, h2 {
  font-family: 'Mali', cursive;
  letter-spacing: 5px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 230%;
  margin-top: 10px;
  margin-bottom: 0px;
}
h2 {
  font-size: 120%;
}
/*--- Features -----*/
p {
  font-size: 100%;
  margin: 10px 0px 20px 0px;
  text-align: center;
  word-spacing: 3px;
}
ul {
  padding-left: 30px;
}
ul li {
  margin-bottom: 20px;
  list-style: none;
}
.btn-download {
  margin-top: 15px;
  margin-left: 10%;
  width: 80%;
}
/*---- App screen -----*/
.responsive-img {
  display: none;
}
/*----- Media queries -------*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 720px) {
  .responsive-img {
    display: block;
    margin-top: 15%;
    margin-left: 10%;
    width: 80%;
  }
}
/*Large devices  I (desktops, 868px and up)*/
@media (min-width: 868px) {
  .responsive-img {
    margin-top: 10%;
    margin-left: 17.5%;
    width: 65%;
  }
}
/*Large devices (desktops, 900px and up)*/
@media (min-width: 900px) {
  .responsive-img {
    margin-left: 17.5% !important;
    width: 65% !important;
  }
}
/*Large devices (desktops, 960px and up)*/
@media (min-width: 960px) {
  .responsive-img {
    margin-left: 20% !important;
    width: 60% !important;
  }
}
/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .responsive-img {
    margin-top: 5%;
    width: 60% !important;
  }
}
/*Large devices (desktops, 1300px and up)*/
@media (min-width: 1300px) {
  .responsive-img {
    margin-left: 25%;
    width: 50% !important;
  }
}